# CRUD com Python e MySQL

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

In [2]:
conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='senha@mysql',
    database='crud_python'
)

cursor = conexao.cursor()

In [ ]:
# Criando banco de dados

comando = f'CREATE DATABASE IF NOT EXISTS crud_python'

cursor.execute(comando)

In [ ]:
# Selecionando o banco para uso

comando = f'USE nome_do_banco'

cursor.execute(comando)

In [ ]:
# Criando tabela no banco

comando = f'CREATE TABLE IF NOT EXISTS vendas ( ID_VENDAS INT PRIMARY KEY, NOME_PRODUTO VARCHAR(255), VALOR DECIMAL(10, 2))'

cursor.execute(comando)

conexao.commit()

In [6]:

# 1. Criando informações no Banco

NOME_PRODUTO = "MOLHO DE TOMATE"
VALOR = 8

comando = f'INSERT INTO produtos (NOME_PRODUTO, VALOR) VALUES ("{NOME_PRODUTO}", {VALOR})'

cursor.execute(comando)

conexao.commit()

NameError: name 'nome_produto' is not defined

In [3]:
NOME_PRODUTO = "CHOCOLATE"
VALOR = 12

comando = f'INSERT INTO produtos (NOME_PRODUTO, VALOR) VALUES ("{NOME_PRODUTO}", {VALOR})'

cursor.execute(comando)

conexao.commit()

In [4]:
# 2. Lendo informações do banco de dados

comando = f'SELECT * FROM produtos'

cursor.execute(comando)
resultado = cursor.fetchall() # ler o banco de dados

print(resultado)

[(2, 'MOLHO DE TOMATE', '8'), (3, 'CHOCOLATE', '12')]

In [8]:
# 3. Atualizando informações no banco de dados

NOME_PRODUTO = "MOLHO DE TOMATE"
VALOR = 8

comando = f'UPDATE produtos SET VALOR = {VALOR} WHERE NOME_PRODUTO = "{NOME_PRODUTO}"'

cursor.execute(comando)

conexao.commit()

In [9]:
# 4. Deletando informações do banco de dados

NOME_PRODUTO = "CHOCOLATE"

comando = f'DELETE FROM produtos WHERE nome_produto = "{NOME_PRODUTO}"'

cursor.execute(comando)

conexao.commit()